<p>hi my name is aicha ettabet </p>
<!-- call component inside a component -->
<app-first></app-first>
<!-- string interpolition using {{}}-->
<p>{{name}}</p>
<!-- property binding -->
<img [src]="img" alt="">
{{count}}
<!-- make event binding-->
<button (click)="change()" > +  </button>
<button (click)="descount()" > -  </button>
<p>{{text}}</p>

<!-- two way data binding -->
<input type="text" [(ngModel)]="text">
<div>
<!-- ternary operator  -->

  <h1 >{{user.firstName==='aicha ettabet'?user.age :'fonono'}}</h1>
  <!-- if condition inside html -->
  @if (user.age >=20) {<p>{{ user.age }}</p>}
  <p>{{user.email}}</p>


</div>
